@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  :root {
    --background: 235 37% 100%;
    --foreground: 235 50% 2%;
    --muted: 55 15% 86%;
    --muted-foreground: 55 1% 29%;
    --popover: 235 37% 100%;
    --popover-foreground: 235 50% 2%;
    --card: 235 37% 100%;
    --card-foreground: 235 50% 2%;
    --border: 235 15% 90%;
    --input: 235 15% 90%;
    --primary: 235 65% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 55 65% 54%;
    --secondary-foreground: 55 65% 14%;
    --accent: 55 65% 54%;
    --accent-foreground: 55 65% 14%;
    --destructive: 15 93% 28%;
    --destructive-foreground: 15 93% 88%;
    --ring: 235 65% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 235 54% 1%;
    --foreground: 235 33% 100%;
    --muted: 55 15% 14%;
    --muted-foreground: 55 1% 71%;
    --popover: 235 54% 1%;
    --popover-foreground: 235 33% 100%;
    --card: 235 54% 1%;
    --card-foreground: 235 33% 100%;
    --border: 235 15% 13%;
    --input: 235 15% 13%;
    --primary: 235 65% 54%;
    --primary-foreground: 0 0% 100%;
    --secondary: 55 65% 54%;
    --secondary-foreground: 55 65% 14%;
    --accent: 55 65% 54%;
    --accent-foreground: 55 65% 14%;
    --destructive: 15 93% 60%;
    --destructive-foreground: 0 0% 0%;
    --ring: 235 65% 54%;
  }
}





@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.bg-opacity-70 {
  background-color: rgba(255, 255, 255, 0.7); /* Adjust as needed */
}

.backdrop-blur-lg {
  backdrop-filter: blur(30%); /* Adjust as needed */
}

.inner-circle::before {
  content: '';
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -32%);
}